@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
html,
body{
  background:#13f798;
  color: #ffffff;
  text-align:center;
  font-family: 'Raleway', Helvetica, sans-serif;
  min-width:320px;
}

#description {
  font-weight: bold;
  background-color: #13f798;
  margin: 0px 100px 20px 100px;
  border-radius: 10px;
  padding: 20px 0px;
}

#main-form{
  background:#ffffff;
  margin:0  auto;
  color: #000000;
  border-radius:4px;
  width:75%;
  max-width:900px;
  padding:10px;
  padding-top:20px;
}
.rowSection{
  margin: 0px 100px;
}
.leftSection{
  display:inline-block;
  text-align:center;
  width:40%;
  padding:5px;
  vertical-align: top;
  margin-top: 10px;
 }
.rightSection{
  display:inline-block;
  text-align:left;
  width:48%;
  vertical-align:middle;
}
.input-field {
  height: 35px;
  width:220px;
  padding:5px;
  margin:10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}
#userAge {
  width: 40px;
}
.userRatings,
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}
#submit {
  background-color: #13f798;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
  font-weight: bold;
}
#submit:hover{
  cursor:pointer;
  background:green;
}

.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;  
  margin-top: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

.radio, .checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}
@media screen and (max-width: 520px) {
  .leftSection {
    width: 100%;
    text-align: left;
  }
  .rightSection {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
  h2{
    font-size:15px;
    padding:2px;
  }
}